<template>
  <div class="home">
    <div id="header">
      <img border="" src="../assets/jf_logo.jpg" width="170" height="140" />
      <p>Gerenciamento de Setores</p>
    </div>
    <br /><br /><br />

    <!-- MODAL ADICIONAR NOVO SETOR -->

    <a-modal
      v-model="visible_setor"
      title="Novo Setor"
      @ok="adicionarSetor"
      cancelText="Cancelar"
      @cancel="handleReset"
      centered
    >
      <a-form :form="form" hideRequiredMark>
        <a-row :gutter="24">
          <a-col :span="24">
            <a-form-item label="Descrição">
              <a-input
                placeholder="Descrição"
                v-decorator="[
                  'descricao_setor',
                  {
                    rules: [
                      {
                        required: true,
                        message: 'Informe a descrição do setor.',
                      },
                    ],
                  },
                ]"
              ></a-input>
            </a-form-item>
          </a-col>
          <a-col :span="24">
            <a-form-item label="Endereço">
              <a-input
                placeholder="Endereço"
                v-decorator="[
                  'endereco_setor',
                  {
                    rules: [
                      {
                        required: true,
                        message: 'Informe o endereço do setor.',
                      },
                    ],
                  },
                ]"
              ></a-input>
            </a-form-item>
          </a-col>
        </a-row>
      </a-form>
    </a-modal>

    <!-- FIM MODAL ADICIONAR SETOR -->

    <!-- EDITAR SETOR -->
    <a-modal
      title="Editar Setor"
      :visible="visible"
      centered
      @cancel="cancelarEdicao"
    >
      <a-form>
        <a-row :gutter="24">
          <a-col :span="24">
            <a-form-item label="Descrição">
              <a-input v-model="editSetor.descricao"></a-input>
            </a-form-item>
          </a-col>
          <a-col :span="24">
            <a-form-item label="Endereço">
              <a-input v-model="editSetor.endereco"></a-input>
            </a-form-item>
          </a-col>
        </a-row>
      </a-form>

      <template slot="footer">
        <a-button key="back" @click="cancelarEdicao">
          Cancelar
        </a-button>

        <a-button key="submit" type="primary" @click="alterar">
          Alterar
        </a-button>
      </template>
    </a-modal>
    <!-- FIM EDITAR SETOR -->

    <!-- BARRA DE PESQUISA -->
    <a-form 
      style="max-width:960px;margin:0 auto;padding: 10px;font-weight: bold"
    >
      <a-form-item label="Insira o nome do Setor:" style="text-align:left">
        <a-input 
          v-model="searchTexto" 
          @keyup="setorSearch" 
          placeholder="Procure por nome"
        />
      </a-form-item>
      <br>

      <a-button
        type="primary"
        @click="showModal_setor"
        style="background: #000"
      >
        Adicionar Setor
      </a-button>
    </a-form>
    <br>

    <!-- LISTAGEM DE SETORES -->
    <template>
      <a-list 
        bordered item-layout="vertical" 
        :data-source="setores" 
        :style="{
          maxWidth:'960px',
          margin: '0px auto 30px auto',
          textAlign: 'left',
          padding: '0 10px',
          color: '#000'
        }"
      >
        <a-list-item slot="renderItem" slot-scope="item">
          <span slot="actions" >
            <template >
              <a-tooltip placement="left" v-if="item.ativo == 1">
                <template slot="title">
                  <span>Desativar</span>
                </template>

                <a-icon
                  @click="ativarDesativar(item)"
                  type="close-circle"
                  :style="{ fontSize: '18px', color: '#08c' }"
                />
              </a-tooltip>

              <a-tooltip placement="left" v-else>
                <template slot="title">
                  <span>Ativar</span>
                </template>

                <a-icon
                  type="check-circle"
                  @click="ativarDesativar(item)"
                  :style="{ fontSize: '18px', color: '#08c' }"
                />
              </a-tooltip>

              <a-divider type="vertical" />

              <a-tooltip placement="right">
                <template slot="title">
                  <span>Editar</span>
                </template>

                <a-icon
                  @click="editar(item)"
                  type="edit"
                  :style="{ fontSize: '18px', color: '#08c' }"
                />
              </a-tooltip>
            </template>
          </span>

          <a-list-item-meta>
            <span slot="title" >
              <strong :style="{ color: !item.ativo ? 'red' : 'black'}">
                {{ item.descricao }}
              </strong>
            </span>
          </a-list-item-meta>

          <a-descriptions 
            bordered
            size="small"
            layout="vertical"
            :column="{ xxl: 3, xl: 3, lg: 3, md: 3, sm: 2, xs: 1 }"
          >
            <a-descriptions-item label="Endereço">
              {{item.endereco}}
            </a-descriptions-item>
          </a-descriptions>
        </a-list-item>
      </a-list>
    </template>
  </div>
</template>

<script>
export default {
  data() {
    return {
      configuration: {
        headers: {
          Token: this.$store.state.portarias_token,
        },
      },
      usuarioLogado: this.$store.state.usuario,

      adId: "",

      //Editar Usuario
      setores: [],
      papeis: [],

      editSetor: {
        id: "",
        descricao: "",
        endereco: "",
      },
      visible: false,

      searchTexto: '',

      //Variaveis Adicionar Usuario
      visible_users: false,
      nome: "",
      usuario: "",
      setor: "",
      papel: "",
      papeis: [],
      setores: [],
      form: this.$form.createForm(this),

      //Variaveis Adicionar Setor
      visible_setor: false,
      endereco_setor: "",
      descricao_setor: "",
    };
  },
  created() {
    this.listarSetores();
  },
  computed: {
    logado() {
      return this.$store.state.usuario;
    },
  },
  methods: {
    setorSearch() {
      let filtro = this.searchTexto.toUpperCase();
      let itens = document.getElementsByClassName("ant-list-item ant-list-item-no-flex");
      
      for (let item of itens) {
        if (item.getElementsByTagName("strong")[0]) {
          let titulo = item.getElementsByTagName("strong")[0].innerHTML;

          if(titulo.toUpperCase().indexOf(filtro) > -1) {
            item.style.display = "";
          } else {
            item.style.display = "none";
          }
        }
      }
    },

    ativarDesativar(item) {
      const me = this;
      me.adId = item.id;
      me.$confirm({
        title: `Deseja ${item.ativo ? "desativar" : "ativar"} este setor?`,
        content: `${item.descricao}`,
        okText: "Sim",
        cancelText: "Não",
        onOk() {
          item.ativo ? me.desativar() : me.ativar();
        },
      });
    },

    listarSetores() {
      const me = this;
      me.axios.get("/setores", this.configuration).then(function(res) {
        me.setores = res.data.setores;
        // console.log(res.data);
      });
    },

    ativar() {
      const me = this;
      me.axios
        .put(`/setores/activate/${me.adId}`, {}, this.configuration)
        .then((res) => {
          if (res.data.sucess) {
            this.$message.sucess("Setor Ativado!");
          }
          this.listarSetores();
        });
    },
    desativar() {
      const me = this;
      me.axios
        .put(`/setores/deactivate/${me.adId}`, {}, this.configuration)
        .then((res) => {
          if (res.data.sucess) {
            this.$message.sucess("Setor Desativado!");
          }
          this.listarSetores();
        });
    },
    //EDITAR ITEM
    editar(item) {
      this.visible = true;
      this.editSetor.descricao = item.descricao;
      this.editSetor.endereco = item.endereco;
      this.editSetor.id = item.id;
    },

    cancelarEdicao() {
      this.visible = false;
    },

    alterar() {
      let me = this;
      me.axios
        .put(`/setores/${me.editSetor.id}`, me.editSetor, me.configuration)
        .then((res) => {
          if (res.data.success) {
            this.$message.success("Setor Atualizado!");
          }
          me.limparEdicao();
          me.listarSetores();
        })
        .catch(function(error) { // eslint-disable-line no-unused-vars
          
        });
    },

    limparEdicao() {
      this.visible = false;
      this.formNome = "";
      this.formUsuario = "";
      this.formId = "";
      this.formSetorId = "";
      this.formPapelId = "";
    },

    success() {
      this.$message.success("Usuario cadastrado ");
    },
    success_setor() {
      this.$message.success("Setor cadastrado ");
    },

    info() {
      this.$message.info("Preencha todos os campos");
    },
    handleReset() {
      this.form.resetFields();
    },

    onClose() {
      this.handleReset();
      this.visible = false;
    },

    showModal_setor() {
      this.visible_setor = true;
    },

    adicionarSetor() {
      this.form.validateFields((err, values) => {
        if (!err) {
          this.axios.post(
            "/setores",
            {
              descricao: values.descricao_setor,
              endereco: values.endereco_setor,
            },
            this.configuration
          )
          .then((res) => {
            this.success_setor();
            this.handleReset();
            this.visible_setor = false;
            this.listarSetores();
          });
        }
      });
    },
  },
};
</script>
<style>
td.opcoes, td.situacao li {
  justify-content: center;
  text-align: center;
}
</style>
