<template>
  <div class="home">
    <div id="header">
      <img border="" src="../assets/jf_logo.jpg" width="170" height="140" />
      <p>Gerenciamento de Usuários</p>
    </div>
    <br />

    <!-- MODAL ADICIONAR NOVO USUARIO -->
    <a-modal
      v-model="visible_users"
      title="Novo Usuário"
      @ok="adicionarUsuario"
      cancelText="Cancelar"
      @cancel="handleReset"
      centered
    >
      <a-form :form="form" hideRequiredMark>
        <a-row :gutter="24">
          <a-col :span="24">
            <a-form-item label="Nome">
              <a-input
                v-decorator="[ 'nome', {
                  rules: [{
                    required: true,
                    type: 'regexp',
                    pattern: new RegExp(`^[A-Z a-z]`),
                    message: 'Informe o nome do usuário.',
                  }],
                }]"
                placeholder="Nome do Usuário"
              ></a-input>
            </a-form-item>
          </a-col>

          <a-col :span="24">
            <a-form-item label="Usuário">
              <a-input
                v-decorator="[ 'usuario', {
                  rules: [{ 
                    required: true, 
                    message: 'Informe o login do usuário.' 
                  }],
                }]"
                placeholder="Usuario"
              ></a-input>
            </a-form-item>
          </a-col>

          <a-col :span="24">
            <a-form-item label="Setor">
              <a-select
                v-decorator="[ 'setor', {
                  rules: [{ 
                    required: true, 
                    message: 'Informe o tipo do setor.' 
                  }],
                }]"
                placeholder="Setor"
              >
                <a-select-option
                  v-for="setor in setores"
                  :key="setor.value"
                  :value="setor.value"
                >
                  {{ setor.text }}
                </a-select-option>
              </a-select>
            </a-form-item>
          </a-col>

          <a-col :span="24">
            <a-form-item label="Papel">
              <a-select
                v-decorator="[ 'papel', {
                  rules: [{ 
                    required: true, 
                    message: 'Informe o papel do usuário.' 
                  }],
                }]"
                placeholder="Papel"
              >
                <a-select-option 
                  value='1' 
                  v-if="usuarioLogado.papel.descricao == 'super'"
                >
                  Super
                </a-select-option>

                <a-select-option 
                  value='2' 
                  v-if="usuarioLogado.papel.descricao == 'super'"
                >
                  Admin
                </a-select-option>

                <a-select-option value='3'>
                  Usuário
                </a-select-option>
              </a-select>
            </a-form-item>
          </a-col>
        </a-row>
      </a-form>
    </a-modal>
    <!-- FIM MODAL ADICIONAR NOVO USUARIO -->

    <!-- EDITAR USUARIO -->
    <a-modal
      title="Editar Usuário"
      :visible="visible"
      centered
      @cancel="cancelarEdicao"
    >
      <a-form>
        <a-row :gutter="24">
          <a-col :span="24">
            <a-form-item label="Nome">
              <a-input v-model="editUsuario.nome"></a-input>
            </a-form-item>
          </a-col>
          <a-col :span="24">
            <a-form-item label="Usuário">
              <a-input v-model="editUsuario.usuario"></a-input>
            </a-form-item>
          </a-col>

          <a-col 
            :span="24" 
            v-if="usuarioLogado.papel.descricao==='super'
          ">
            <a-form-item label="Setor">
              <a-select v-model="editUsuario.setor_id" placeholder="Setor">
                <a-select-option
                  v-for="setor in setores"
                  :key="setor.value"
                  :value="setor.value"
                >
                  {{ setor.text }}
                </a-select-option>
              </a-select>
            </a-form-item>
          </a-col>

          <a-col :span="24" v-if="usuarioLogado.papel.descricao==='super'">
            <a-form-item has-feedback label="Papel">
              <a-select v-model="editUsuario.papel_id" placeholder="Papel">
                <a-select-option
                  v-for="papel in papeis"
                  :key="papel.value"
                  :value="papel.value"
                >
                  {{ papel.text }}
                </a-select-option>
              </a-select>
            </a-form-item>
          </a-col>
        </a-row>
      </a-form>

      <template slot="footer">
        <a-button key="back" @click="cancelarEdicao">
          Cancelar
        </a-button>

        <a-button key="submit" type="primary" @click="alterar">
          Alterar
        </a-button>
      </template>
    </a-modal>
    <!-- FIM EDITAR USUARIO -->

    <!-- BARRA DE PESQUISA -->
    <a-form 
      style="max-width:960px;margin:0 auto;padding: 10px;font-weight: bold"
    >
      <a-form-item label="Insira os dados que deseja buscar:" style="text-align:left">
        <a-input 
          v-model="searchTexto" 
          @keyup="usuarioSearch" 
          placeholder="Procure por nome, setor, usuario, papel..."
        />
      </a-form-item>
      <br>

      <a-button
        type="primary"
        @click="showModal_users"
        style="background: #000"
      >
        Adicionar Usuário
      </a-button>
    </a-form>
    <br>

    <!-- LISTAGEM USUARIOS -->
    <template>
      <a-list 
        bordered item-layout="vertical" 
        :data-source="usuarios" 
        :style="{
          maxWidth:'960px',
          margin: '0px auto 30px auto',
          textAlign: 'left',
          color: '#000'
        }"
      >
        <a-list-item slot="renderItem" slot-scope="item">
          <span slot="actions" >
            <template v-if="logado && usuarioLogado.id !== item.id">
              <a-tooltip placement="left" v-if="item.ativo == 1">
                <template slot="title">
                  <span>Desativar</span>
                </template>

                <a-icon
                  @click="ativarDesativar(item)"
                  type="close-circle"
                  :style="{ fontSize: '18px', color: '#08c' }"
                />
              </a-tooltip>

              <a-tooltip placement="left" v-else>
                <template slot="title">
                  <span>Ativar</span>
                </template>

                <a-icon
                  type="check-circle"
                  @click="ativarDesativar(item)"
                  :style="{ fontSize: '18px', color: '#08c' }"
                />
              </a-tooltip>

              <a-divider type="vertical" />

              <a-tooltip placement="right">
                <template slot="title">
                  <span>Editar</span>
                </template>

                <a-icon
                  @click="editar(item)"
                  type="edit"
                  :style="{ fontSize: '18px', color: '#08c' }"
                />
              </a-tooltip>
            </template>
          </span>

          <a-list-item-meta>
            <span slot="title" >
              <strong :style="{ color: !item.ativo ? 'red' : 'black'}">
                {{ item.nome }}
              </strong>
            </span>
          </a-list-item-meta>

          <a-descriptions 
            bordered
            size="small"
            layout="vertical"
            :column="{ xxl: 3, xl: 3, lg: 3, md: 3, sm: 2, xs: 1 }"
          >
            <a-descriptions-item label="Setor">
              {{item.setor.descricao}}
            </a-descriptions-item>
            
            <a-descriptions-item label="Usuário">
              {{item.usuario}}
            </a-descriptions-item>

            <a-descriptions-item label="Papel">
              {{item.papel.descricao}}
            </a-descriptions-item>
          </a-descriptions>

        </a-list-item>
      </a-list>
    </template>

  </div>
</template>

<script>
export default {
  data() {
    return {
      configuration: {
        headers: {
          Token: this.$store.state.portarias_token,
        },
      },
      usuarioLogado: this.$store.state.usuario,

      usuarios: [],
      adId: "",
      papel_id: "",
      setor_id: "",

      searchTexto: '',

      //Editar Usuario
      setores: [],
      papeis: [],
      itemPapeis: [
        { text: "Admin", value: 2 },
        { text: "Usuário", value: 3 },
      ],

      editUsuario: {
        id: "",
        nome: "",
        usuario: "",
        setor_id: "",
        papel_id: "",
      },
      visible: false,

      //Variaveis Adicionar Usuario
      visible_users: false,
      papeis: [],
      setores: [],
      form: this.$form.createForm(this),
    };
  },
  created() {
    this.listarUsuarios();
    this.listarSetores();
    this.listarPapeis();
  },
  computed: {
    logado() {
      return this.$store.state.usuario;
    },
  },
  methods: {
    usuarioSearch() {
      let filtro = this.searchTexto.toUpperCase();
      let itens = document.getElementsByClassName("ant-list-item ant-list-item-no-flex");
      
      for (let item of itens) {
        if (item.getElementsByTagName("strong")[0]) {
          let titulo = item.getElementsByTagName("strong")[0].innerHTML;
          let descricao = item.getElementsByClassName("ant-descriptions-view")[0].getElementsByTagName("td");
    
          if(titulo.toUpperCase().indexOf(filtro) > -1) {
            item.style.display = "";
          } else if(descricao[0].innerHTML.toUpperCase().indexOf(filtro) > -1) {
            item.style.display = "";
          } else if(descricao[1].innerHTML.toUpperCase().indexOf(filtro) > -1) {
            item.style.display = "";
          } else if(descricao[2].innerHTML.toUpperCase().indexOf(filtro) > -1) {
            item.style.display = "";
          } else {
            item.style.display = "none";
          }
        }
      }
    },

    ativarDesativar(item) {
      const me = this;
      me.adId = item.id;
      me.$confirm({
        title: `Deseja ${item.ativo ? "desativar" : "ativar"} este usuário?`,
        content: `${item.nome}`,
        okText: "Sim",
        cancelText: "Não",
        onOk() {
          item.ativo ? me.desativar() : me.ativar();
        },
      });
    },

    listarUsuarios() {
      let user = this.usuarioLogado;
      let rota = '/usuarios';
      if (user.papel.descricao != 'super') {
        rota = `/usuarios/setor/${user.setor.id}`;
      }
      this.axios.get(rota, this.configuration).then(res => {
        this.usuarios = res.data.usuarios;
      });
    },

    ativar() {
      const me = this;
      me.axios
        .put(`/usuarios/activate/${me.adId}`, {}, this.configuration)
        .then((res) => {
          if (res.data.sucess) {
            this.$message.sucess("Usuario Ativado!");
          }
          this.listarUsuarios();
        });
    },
    desativar() {
      const me = this;
      me.axios
        .put(`/usuarios/deactivate/${me.adId}`, {}, this.configuration)
        .then((res) => {
          if (res.data.sucess) {
            this.$message.sucess("Usuario Desativado!");
          }
          this.listarUsuarios();
        });
    },
    //EDITAR ITEM
    editar(item) {
      this.visible = true;
      this.editUsuario.nome = item.nome;
      this.editUsuario.usuario = item.usuario;
      this.editUsuario.id = item.id;
      this.editUsuario.setor_id = item.setor_id;
      this.editUsuario.papel_id = item.papel_id;
    },

    cancelarEdicao() {
      this.visible = false;
    },

    alterar() {
      let me = this;
      me.axios
        .put(`/usuarios/${me.editUsuario.id}`, me.editUsuario, me.configuration)
        .then((res) => {
          if (res.data.success) {
            this.$message.success("Usuário Atualizado!");
          }
          me.limparEdicao();
          me.listarUsuarios();
        })
        .catch(function(error) { // eslint-disable-line no-unused-vars

        });
    },
    limparEdicao() {
      this.visible = false;
      this.formNome = "";
      this.formUsuario = "";
      this.formId = "";
      this.formSetorId = "";
      this.formPapelId = "";
    },

    listarSetores() {
      let me = this;
      let setores = [];
      let rota = "/setores/ativos";
      let user = this.usuarioLogado;

      if (user.papel.descricao !== "super") {
        rota = `/setores/${user.setor.id}`;
      }

      this.axios.get(rota, this.configuration)
        .then(res => {
          if (user.papel.descricao !== "super") {
            setores.push(res.data.setor);
          } else {
            setores = res.data.setores;
          }
          for (let setor of setores) {
            me.setores.push({
              text: setor.descricao,
              value: setor.id,
            });
          }
        })
        .catch(function(error) { // eslint-disable-line no-unused-vars
          
        });
    },

    //  Modal Listar Usuarios
    showModal_users() {
      this.visible_users = true;
    },
    handleOk(e) {
      const me = this;
      this.visible_users = false;
      me.listarUsuarios();
    },

    listarPapeis() {
      let me = this;
      let papeis = [];
      let rota = "/papeis";
      let user = this.usuarioLogado;

      if (user.papel.descricao !== "super") {
        rota = `/papeis/${user.papel.id}`;
      }

      this.axios.get(rota, this.configuration)
        .then(res => {
          if (user.papel.descricao !== "super") {
            papeis.push(res.data.papel);
          } else {
            papeis = res.data.papeis;
          }
          for (let papel of papeis) {
            me.papeis.push({
              text: papel.descricao,
              value: papel.id,
            });
          }
        })
        .catch(function(error) { // eslint-disable-line no-unused-vars
          
        });
    },

    adicionarUsuario(e) {
      e.preventDefault();
      this.form.validateFields((err, values) => {
        if (!err) {
          this.axios.post( "/usuarios", {
            nome: values.nome,
            usuario: values.usuario,
            setor_id: values.setor,
            papel_id: values.papel,
          }, this.configuration )
            .then(res => {
              this.visible_users = false;
              this.success();
              this.handleReset();
              this.listarUsuarios();
            });
        }
      });
    },

    success() {
      this.$message.success("Usuario cadastrado ");
    },
    success_setor() {
      this.$message.success("Setor cadastrado ");
    },

    info() {
      this.$message.info("Preencha todos os campos");
    },
    handleReset() {
      this.form.resetFields();
    },

    onClose() {
      this.handleReset();
      this.visible = false;
    },
  },
};
</script>
<style>
td.opcoes, td.situacao li {
  justify-content: center;
  text-align: center;
}
</style>
