<template>
  <div class="">

    <!-- Menu responsivo -->
    <a-menu 
      mode="horizontal" 
      theme="dark" 
      style="background:#000;border-bottom:2px solid #d3be5e"
    >
      <a-menu-item key="logo">
        <img src="../assets/bg-top-novo.png" alt="JF">
      </a-menu-item>

      <!-- criando links -->
      <a-menu-item v-for="link in links" :key="link.text">
        <a :class="link.text === 'JFPB' ? 'ico-jfpb' : ''" :href="link.link" target="_BLANK">{{link.text}}</a>
      </a-menu-item>

      <!-- opção de login/gerenciamento -->
      <a-sub-menu key="gerenciar" v-if="logado">
        <span slot="title" class="">
          <a-icon type="setting" /> Gerenciar
        </span>

        <a-menu-item>
          <router-link to="/">
            <a-icon type="home" />
            Inicio
          </router-link>
        </a-menu-item>

        <a-menu-item v-if="logado.papel_id == 1 || logado.papel_id == 2" >
          <router-link to="usuarios">
            <a-icon type="user" />
            Gerenciar Usuários
          </router-link>
        </a-menu-item>

        <a-menu-item v-if="logado.papel_id == 1" >
          <router-link to="setores">
            <a-icon type="bank" />
            Gerenciar Setores
          </router-link>
        </a-menu-item>

        <a-menu-item @click="sair">
          <router-link to="/">
            <a-icon type="logout" />
            Sair
          </router-link>
        </a-menu-item>
      </a-sub-menu>

      <a-menu-item v-else>
        <router-link to="/login">
          Login
        </router-link>
      </a-menu-item>
    </a-menu>

    <!-- <ul class="aui-helper-clearfix top-nav">
      <li ><a href="http://www.trf5.jus.br/" target="_BLANK">TRF5</a></li>
      <li><a href="http://www.jfpe.jus.br/" target="_BLANK">JFPE</a></li>
      <li class="active ico-jfpb"><a href="http://www.jfpb.jus.br/" target="_BLANK">JFPB</a></li>
      <li><a href="http://www.jfce.jus.br/" target="_BLANK">JFCE</a></li>
      <li><a href="http://www.jfse.jus.br/" target="_BLANK">JFSE</a></li>
      <li><a href="http://www.jfal.jus.br/" target="_BLANK">JFAL</a></li>
      <li><a href="http://www.jfrn.jus.br/" target="_BLANK">JFRN</a></li>
            
      <li v-if="logado" class="login">
        <a-dropdown>
          <a-menu slot="overlay">
            <a-menu-item>
              <router-link to="/">
                <a-icon type="home" />
                Inicio
              </router-link>
            </a-menu-item>

            <a-menu-item v-if="logado.papel_id == 1 || logado.papel_id == 2" >
              <router-link to="usuarios">
                <a-icon type="user" />
                Gerenciar Usuários
              </router-link>
            </a-menu-item>

            <a-menu-item v-if="logado.papel_id == 1" >
              <router-link to="setores">
                <a-icon type="bank" />
                Gerenciar Setores
              </router-link>
            </a-menu-item>

            <a-menu-item @click="sair">
              <router-link to="/">
                <a-icon type="logout" />
                Sair
              </router-link>
            </a-menu-item>
          </a-menu>

          <a-button size="small" style="margin-left: 8px">
            <a-icon type="setting" />
          </a-button>
        </a-dropdown>
      </li>

      <li v-else class="login" style="padding:11px;">
        <router-link to="/login">
          Login
        </router-link>
      </li>
		</ul> -->
  </div>
</template>

<script>
export default {
    data() {
      return {
        links: [
          { link: "http://www.trf5.jus.br/", text: "TRF5" }, 
          { link: "http://www.jfpe.jus.br/", text: "JFPE" },
          { link: "http://www.jfpb.jus.br/", text: "JFPB" },
          { link: "http://www.jfce.jus.br/", text: "JFCE" },
          { link: "http://www.jfse.jus.br/", text: "JFSE" },
          { link: "http://www.jfal.jus.br/", text: "JFAL" },
          { link: "http://www.jfrn.jus.br/", text: "JFRN" },
        ]
      }
    },
    name: 'Menu',
    computed: {
        logado() {
            return this.$store.state.usuario;
        },
    },
    methods: {
        sair() {
            this.$store.dispatch("sair");
        },
    }
}
</script>

<style>

.ico-jfpb {
	background: url('../assets/ico-jfpb.png') no-repeat center left;
	padding-left:24px;
}

.ant-menu.ant-menu-dark .ant-menu-item-selected, 
.ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected {
  background-color: #444 !important;
}

.ant-menu-dark, .ant-menu-dark .ant-menu-sub {
    color: rgba(255, 255, 255, 0.65);
    background: #1a1a1a !important;
}

/* Avaliando */

/* .top-nav .login {
  float: right;
  border-right: none;
  padding: 8px;
} */
/* .top {
	color:#ffffff;
	padding-top:0;
	margin: 0 auto;
	padding-left:210px;
	background: url('../assets/bg-top-novo.png') no-repeat top left ;
	font-size:8pt;
  height: 40px;
  max-width: 960px;

} */
/* .top-nav {
	float: left;
	margin: 0;
	padding: 0;
	color:#ffffff;
	width: 100%;
} */
/* .top-nav li {
	list-style: none;
	border-right: 1px solid #424242;
  padding: 12px;
	float: left;
} */
/* .top-nav li a {
	cursor: pointer;
	text-decoration: none;
	font-family: "Arial", sans-serif;
	color: #ffffff;
} */
/* .top-nav li.active {
	font-weight:bold;
	padding-left:21px;
	padding-right:21px;
	color:#ffffff;
} */


</style>