<template>
    <div id="app">
        <Menu />

        <a-layout-content>
          <router-view/>
        </a-layout-content>
    </div>
</template>

<script>
import Menu from '@/components/Menu.vue'

export default {
    components: {
        Menu,
    },
    computed: {
        logado() {
            return this.$store.state.usuario;
        },
    },
    methods: {
        sair() {
            this.$store.dispatch("sair");
        },
    }
}
</script>

<style>
body {
  padding: 0;
  margin: 0;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
</style>
